includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 1
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"

    -
        message: "#Relying on entity queries to check access by default is deprecated#"
        count: 1
        path: src/Entity/TwigTemplateForm.php

    -
        message: "#Relying on entity queries to check access by default is deprecated#"
        count: 2
        path: src/TemplateManager.php

    -
        message: "#^Class .* extends @internal class#"
        count: 1
        path: src/Theme/ImmutableRegistry.php

    -
        message: "#^Class .* extends @internal class#"
        count: 1
        path: src/Theme/RegistryDecorator.php

    -
        message: "#Drupal calls should be avoided in classes, use dependency injection instead#"
        count: 1
        path: src/Theme/RegistryDecorator.php